body{
  font-family:"Arial";
  margin : 10px 20px 10px;
  font-size:16px;
}
body.choix_table{
  font-family:Arial;
  margin : 20px 50px 20px;
  font-size:16px;
}
h1 {
  text-align:center;
  color:#d38a1c;
}
a{
  color:black;
  text-decoration:none;
}
table.mon_tableau {
  border-collapse: collapse;
  table-layout: fixed;
 
}
table.mon_tableau td {
  border: 1px solid #5555;
  padding: 9px;
  font-size: 13px;
  font-family:"Arial";
}
table.mon_tableau tr:nth-child(even)  {
  background: #EEE
}
table.mon_tableau tr:nth-child(odd) {
  background: #FFF
}
table.search {
  border-collapse: collapse;
  width:100%;
  font-size:13px;
  font-family:"Arial";
}
table.search td {
  border: 1px solid #5555;
  padding: 13px 10px 13px;             
  text-align: center;
}
table.search td.int {
  border: 0px solid #5555;
  padding: 0px;
}
input.bouton {
  background:#d38a1c;
  color:black;
  border-radius:5px;
  padding: 5px;
  width:100px;
}
p.bouton{
  text-align:center;
}
input.saisie{
  color:black;
  border-radius:5px;
  padding: 2px;
  width:200px;
}
select.menu{
  width:200px;
}
th{
  text-align:left;
  border: 1px solid #5555;
  padding: 10px;
  background-color: #d38a1c;
  color: #fff;
}

li span{font-size:16px;
        color:black;}
