<!-- fichier pays.tmpl --> 

<html>
<head> 
  <title>Les accidents référencés</title>
  <style>   
    body{font-family:Arial;
         margin : 10px 20px 10px;
         font-size:16px;}

    h1 {text-align:center;
        color:#d47217;}

    a{color:black;
      text-decoration:none;}

    table.mon_tableau  {border-collapse: collapse;}

    table.mon_tableau td {
       border: 1px solid #5555;
       padding: 9px;
       font-family: "Sans-serif";
       font-size: 12px;}

    table.mon_tableau tr:nth-child(even)  {background: #EEE}
    table.mon_tableau tr:nth-child(odd) {background: #FFF}
  </style>
</head>

<body>
<a href="{% url 'accueil'%}">Retour à l'accueil</a>
<h1>Accidents référencés</h1>
{% if rien %}
  Aucun accident ne correspond à votre recherche !
{% else %}


<form method="get">
	<p>
	Trajet : <br>
	de <input type="search" name="depart" placeholder="aéroport ou pays de départ" >
	à <input type="search" name="arrivee" placeholder="aéroport ou pays d'arrivée" >
	</p>
	<p>
	Lieu de l'accident : <br>
	<input type="text" name="lieu" placeholder="Localisation ou pays" >
	</p>
	<p>
	Compagnie aérienne : <br>
	<input type="text" name="compagnie" placeholder="Nom, alias, IATA ou OACI" >
	</p>
	<p>
	Avion : <br>
	<input type="text" name="avion" placeholder="Modèle, IATA ou OACI" >
	</p>
	
	</p>
	<p>
	Nature du vol : <br>
	<select name="nature">
		<option select value=""></option>
		<option value="Passenger">Passenger</option>
		<option value="Test">Test</option>
		<option value="Demonstration">Demonstration</option>
		<option value="Domestic Scheduled Passenger">Domestic Scheduled Passenger</option>
		<option value="International Scheduled Passenger">International Scheduled Passenger</option>
	</p>	
	
<input type="checkbox" name="chercher_ville" ><label for="chercher_ville">Ville</label>
<input type="checkbox" name="chercher_pays" ><label for="chercher_pays">Pays</label>
<input type="submit" value="Rechercher" >
</form>

  <table class="mon_tableau">
  <p>{{nb}} accidents affichés</p>
  <tr><b><td><b>Date et heure</b></td><td><b>Modèle de l'avion</b></td><td><b>Nature du vol</b></td><td><b>Compagnie</b></td><td><b>Phase de vol</b></td><td><b>Nombre de décès | nombre d'occupants<b></td><td><b>Dégats</b></td><td><b>Statut</b></td><td><b>Pays</b></td><td><b>Localisation</b></td><td><b>Aéroport de départ</b></td><td><b>Aéroport d'arrivée</b></td></b></tr>
  {% for a in accident %}
        <tr>
          <td>{{a.time|date:"d F Y H:i"}} </td>
            {% ifequal 'Unknown' a.id_avion.modele %}
            <td> </td>
            {% else %}
            <td>{{ a.id_avion.modele }} </td>
            {% endifequal %}
            {% ifequal 'nan' a.nature %}
            <td> </td>
            {% else %}
            <td>{{ a.nature }} </td>
            {% endifequal %}
            {% ifequal 'Unknown' a.nom_compagnie.nom_compagnie %}
            <td> </td>
            {% else %}
            <td>{{ a.nom_compagnie.nom_compagnie }} </td>
            {% endifequal %}
            {% ifequal 'Unknown' a.phase_de_vol%}
            <td> </td>
            {% else %}
            <td>{{ a.phase_de_vol}} </td>
            {% endifequal %}

            {% ifequal None a.nb_deces%}
               {%ifequal None a.nb_occupant%}
                <td> </td>
                {% else %}
                <td> ? | {{ a.nb_occupant }} </td>
                {% endifequal %}
            {%else%}
                {% ifequal None a.nb_occupant %}
                 <td>{{ a.nb_deces }} | ? </td>
                 {%else%}
                  <td>{{a.nb_deces}} | {{a.nb_occupant}}</td>
                  {% endifequal %}
            {% endifequal %}

            {% ifequal 'nan' a.degats %}
            <td> </td>
            {% else %}
            <td>{{ a.degats}} </td>
            {% endifequal %}
            {% ifequal 'nan' a.statut %}
            <td> </td>
            {% else %}
            <td>{{ a.statut }} </td>
            {% endifequal %}
            {% ifequal 'Unknown' a.nom_pays.nom_pays %}
            <td> </td>
            {% else %}
            <td>{{ a.nom_pays.nom_pays }} </td>
            {% endifequal %}
            {% ifequal 'nan' a.emplacement %}
            <td> </td>
            {% else %}
            <td>{{ a.emplacement }} </td>
            {% endifequal %}
            {% ifequal 'Unknown' a.id_aeroport_depart.nom_aeroport %}
            <td> </td>
            {% else %}
            <td>{{ a.id_aeroport_depart.nom_aeroport  }} </td>
            {% endifequal %}
            {% ifequal 'Unknown' a.id_aeroport_arrivee.nom_aeroport %}
            <td> </td>
            {% else %}
            <td>{{ a.id_aeroport_arrivee.nom_aeroport}} </td>
            {% endifequal %}
        </tr>
  {% endfor %}
  </table>
 {% endif %}
</body>
</html>
