<html>
<head> 
   <title>Les accidents référencés</title>
   <style>   
      body{font-family:Arial;
           margin : 10px 20px 10px;
           font-size:16px;}

      h1 {text-align:center;
          color:#d47217;}

      a{color:black;
        text-decoration:none;}

      table.mon_tableau {border-collapse: collapse;}

      table.mon_tableau td {border: 1px solid #5555;
                            padding: 9px;
                            font-family: "Sans-serif";
                            font-size: 12px;}

      table.mon_tableau tr:nth-child(even)  {background: #EEE}
      table.mon_tableau tr:nth-child(odd) {background: #FFF}
   </style>
</head>

<body>
   <a href="{% url 'accueil'%}">Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}">Retour aux données</a>
   </br>
   <h1>Accidents référencés</h1>
   {% if rien %}
      Aucun accident ne correspond à votre recherche !
   {% else %}

	
   <form method="get">
      <div ><!regarder div flexbox>
	     Trajet : <br> 
	     De <input type="search" name="depart" placeholder="départ (aéroport ou pays ou ville)" >
	     à <input type="search" name="arrivee" placeholder="arrivée (aéroport ou pays ou ville)" >
	  </div>
	
	  <div>
	     Lieu de l'accident : <br>
	     <input type="search" name="lieu" placeholder="Localisation ou pays" >
	  </div>
	
      <div>
	     Compagnie aérienne : <br>
	     <input type="search" name="compagnie" placeholder="Nom, alias, IATA ou OACI" >
	  </div>
	
	  

	  <p>
	     Nature du vol : <br>
	     <select name="nature">
		    <option select value=""></option>
		    <option value="Passenger">Passenger</option>
		    <option value="Test">Test</option>
		    <option value="Demonstration">Demonstration</option>
		    <option value="Domestic_SP">Domestic Scheduled Passenger</option>
		    <option value="International_SP">International Scheduled Passenger</option>
	    	<option value="Military">Military</option>
	    	<option value="Private">Private</option>
	    	<option value="Ferry_positioning">Ferry -positioning</option>
	    	<option value="Training">Training</option>
	    	<option value="Executive">Executive</option>
    		<option value="INSP">Int'l Non Scheduled Passenger</option>
    		<option value="Survey_research">Survey - research</option>
    		<option value="Aerial_Work">Aerial Work (Calibration, Photo)</option>
	     	<option value="Illegal_flight">Illegal flight</option>
	    	<option value="Non_SP">Non Scheduled Passenger</option>
	    	<option value="Agricultural">Agricultural</option>
            <option value="Parachuting">Parachuting</option>
		    <option value="Official_state_flight">Official state flight</option>
		    <option value="Ambulance">Ambulance</option>
		    <option value="Fire_Fighting">Fire Fighting</option>
		    <option value="Cargo">Cargo</option>
		    <option value="Scheduled_Passenger">Scheduled Passenger</option>
		    <option value="Domestic_NSP">Domestic Non Scheduled Passenger</option>
         </select>
      </p>

      <p>
	     Phase de vol : <br>
	     <select name="phase">
		    <option select value=""></option>
		    <option value="En_route">En route</option>
		    <option value="Landing">Landing</option>
		    <option value="Takeoff">Takeoff</option>
		    <option value="Maneuvering">Maneuvering</option>
		    <option value="Initial_climb">Initial climb</option>
		    <option value="Standing">Standing</option>
		    <option value="Approach">Approach</option>
		    <option value="Taxi">Taxi</option>
		    <option value="Pushback_towing">Pushback - towing</option>
         </select>
      </p>
	
      <p>
	     Statut de l'enquête : <br>
	     <select name="statut">
		    <option select value=""></option>
		    <option value="Preliminary">Preliminary</option>
		    <option value="Final">Final</option>
         </select>
      </p>
	
      <p>
	     Dégats : <br>
	     <select name="degats">
		    <option select value=""></option>
		    <option value="Destroyed">Passenger</option>
		    <option value="Damaged_beyond_repair">Damaged beyond repair</option>
		    <option value="Substantial">Substantial</option>
		    <option value="Minor">Minor</option>
         </select>
      </p>
	
      <p>
	     Nombre de 
                  <input type="radio" name="nb_personne" value="nb_deces"><label for="nb_deces">décès</label>
                  <input type="radio" name="nb_personne" value="nb_occupants"><label for="nb_occupants">occupants :</label><br>
	     Entre <input type="number" name="nb_min" placeholder="minimum" >
	     et <input type="number" name="nb_max" placeholder="maximum" >
      </p>
	
      <p>
         Date : <br>
	     De <input type="date" name="date_min">
	     à <input type="date" name="date_max">
      </p>

      <p>
	     Heure : <br>
	     De <input type="time" name="hmin">
	     à <input type="time" name="hmax">
      </p>

      <input type="submit" value="Rechercher" >
   </form>

   <table class="mon_tableau">
      <p>{{nb}} accidents affichés</p>
      <tr><b><td><b>Date et heure</b></td><td><b>Modèle de l'avion</b></td><td><b>Nature du vol</b></td><td><b>Compagnie</b></td><td><b>Phase de vol</b></td><td><b>Nombre de décès | nombre d'occupants<b></td><td><b>Dégats</b></td><td><b>Statut</b></td><td><b>Pays</b></td><td><b>Localisation</b></td><td><b>Aéroport de départ</b></td><td><b>Aéroport d'arrivée</b></td></b></tr>
      {% for a in accident %}
         <tr>
            <td>{{a.time|date:"d F Y H:i"}} </td>

               {% ifequal 'Unknown' a.id_avion.modele %}
                  <td> </td>
               {% else %}
                  <td>{{ a.id_avion.modele }} </td>
               {% endifequal %}

               {% ifequal 'nan' a.nature %}
                  <td> </td>
               {% else %}
                  <td>{{ a.nature }} </td>
               {% endifequal %}

               {% ifequal 'Unknown' a.nom_compagnie.nom_compagnie %}
                  <td> </td>
               {% else %}
                  <td>{{ a.nom_compagnie.nom_compagnie }} </td>
               {% endifequal %}

               {% ifequal 'Unknown' a.phase_de_vol%}
                  <td> </td>
               {% else %}
                  <td>{{ a.phase_de_vol}} </td>
               {% endifequal %}

               {% ifequal None a.nb_deces%}
                  {%ifequal None a.nb_occupant%}
                     <td> </td>
                  {% else %}
                     <td> ? | {{ a.nb_occupant }} </td>
                  {% endifequal %}
               {% else %}
                  {% ifequal None a.nb_occupant %}
                     <td>{{ a.nb_deces }} | ? </td>
                  {%else%}
                     <td>{{a.nb_deces}} | {{a.nb_occupant}}</td>
                  {% endifequal %}
               {% endifequal %}

               {% ifequal 'nan' a.degats %}
                  <td> </td>
               {% else %}
                  <td>{{ a.degats}} </td>
               {% endifequal %}

               {% ifequal 'nan' a.statut %}
                  <td> </td>
               {% else %}
                  <td>{{ a.statut }} </td>
               {% endifequal %}

               {% ifequal 'Unknown' a.nom_pays.nom_pays %}
                  <td> </td>
               {% else %}
                  <td>{{ a.nom_pays.nom_pays }} </td>
               {% endifequal %}

               {% ifequal 'nan' a.emplacement %}
                  <td> </td>
               {% else %}
                  <td>{{ a.emplacement }} </td>
               {% endifequal %}

               {% ifequal 'Unknown' a.id_aeroport_depart.nom_aeroport %}
                  <td> </td>
               {% else %}
                  <td>{{ a.id_aeroport_depart.nom_aeroport  }} </td>
               {% endifequal %}

               {% ifequal 'Unknown' a.id_aeroport_arrivee.nom_aeroport %}
                  <td> </td>
               {% else %}
                  <td>{{ a.id_aeroport_arrivee.nom_aeroport}} </td>
               {% endifequal %}
         </tr>
      {% endfor %}
   </table>
   {% endif %}
</body>
</html>
