<!DOCTYPE html>
<html lang="fr">
<head>
  {% block title %}<title>Home</title>{% endblock %}
   

  <style>
    body{font-family:Arial;
         margin : 20px 50px 20px;
         font-size:16px;}

    h1 {text-align:center;
        color:#d47217;}

    a{color:black;
      text-decoration:none;}

    li{color:#d47217;
       font-size:14px;
       list-style-type:disc;}

    li span{font-size:16px;
            color:black;}
  </style>
   
</head>
<body>
     <h1> Accueil</h1>
     <p>Bienvenue dans notre application ! 
<br/>
<br/>
Elle recense tous les accidents d'avion depuis 1919. Vous pouvez naviguer dans :
<li><span>toutes nos <a href="donnees">données</a> :</span>
      <ul>
          <li><span><a href="donnees/accident">Accidents</a></span></li>
          <li><span><a href="donnees/aeroport">Aéroports</a></span></li>
          <li><span><a href="donnees/avion">Avions</a></span></li>
          <li><span><a href="donnees/compagnie">Compagnies</a></span></li>
          <li><span><a href="donnees/pays">Pays</a></span></li>
          <li><span><a href="donnees/ville">Villes</a></li></span></li>
     </ul>
<li><span>nos outils de visualisation statistique ??:</span></li>
      <ul>
          <li><span><a href="">Diagramme circulaire</a></span></li>
          <li><span><a href="">Histogramme</a></span></li>
          <li><span><a href="">Carte / Tableau des pays les plus touchées</a></span></li>
          <li><span><a href="">Tableau des compagnies les plus touchées</a></span></li>
     </ul>
<br/>
<br/>
<div>
{% load static %}
<!img src="{% static "templates/images/accueil.png" %}" alt="My image">

    <img src="{% static "templates/images/accueil.png" %}" alt="Image d'accueil" width='100px' height='100px' />
</div>
<br/>
<br/>
Application réalisée par <em>Chiara Cordier</em> et <em>Nolwenn David</em>.</p>

  
  
</body>
</html>
