<html>
<head> 
   <title>Les avions référencés</title>
       {% load static %}
    <link rel='stylesheet' type='text/css' href="{%static 'style.css' %}">
</head>

<body>
   <a href="{% url 'accueil'%}"><img src="{% static "logo_accueil.png" %}" alt="Logo home" width=20> Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}"><img src="{% static "logo_retour.png" %}" alt="Logo home" width=15> Retour aux données</a>
   </br>
   <h1>Avions enregistrés</h1>
   {% if rien %}
      Aucun avion ne correspond à votre recherche !
   {% else %}
      <form method="get">
	     <table class="search">
	        <tr>
               <td>
	              <input type="search" name="rech_avion" placeholder="Modèle, IATA, OACI" class="saisie" >
               </td>
               <td>
	              <input type="checkbox" name="chercher_modele" ><label for="chercher_modele">Modèle</label>
               </td>
               <td>
	              <input type="checkbox" name="chercher_iata" ><label for="chercher_iata">IATA</label>
               </td>
               <td>
	              <input type="checkbox" name="chercher_oaci" ><label for="chercher_oaci">OACI</label>
               </td>
            </tr>
         </table>
	     <p class="centrer">
            <input type="submit" value="Rechercher" class=bouton >
	     </p>
      </form>

      <p>{{ nb}} avions</p>

      <table class="mon_tableau">
      <tr><th>Modèle</th><th>Code IATA</th><th>Code OACI</th></tr>
      {% for a in avion %}
         {% ifnotequal 'Unknown' a.modele %}
            <tr>
               <td>{{ a.modele}} </td>

               {% ifequal 'nan' a.iata %}
                  <td> </td>
               {% else %}
                  <td>{{ a.iata }} </td>
               {% endifequal %}

               {% ifequal 'nan' a.oaci %}
                  <td> </td>
               {% else %}
                  <td>{{ a.oaci }} </td>
               {% endifequal %}
            </tr>
         {% endifnotequal %}
      {% endfor %}
      </table>
   {% endif %}
</body>
</html>
