<!-- fichier pays.tmpl --> 

<html>
<head> 
  <title>Choix des tables</title>
  <style>   
    table.mon_tableau  {
        border-collapse: collapse;
    }
    table.mon_tableau td {
       border: 1px solid #5555;
       padding: 9px;
       font-family: "Sans-serif";
       font-size: 12px;
    }
    table.mon_tableau tr:nth-child(even)  {background: #EEE}
    table.mon_tableau tr:nth-child(odd) {background: #FFF}
  </style>
</head>

<body> 
<h1>Quelle table souhaitez-vous consulter ?</h1>
<li><a href="donnees/accident">Table des accidents</a></li>
<li><a href="donnees/aeroport">Table des aeroports</a></li>
<li><a href="donnees/avion">Table des avions</a></li>
<li><a href="donnees/compagnie">Table des compagnies</a></li>
<li><a href="donnees/pays">Table des pays</a></li>
<li><a href="donnees/ville">Table des villes</a></li>


</body>
</html>
