<html>
<head> 
   <title>Choix des tables</title>
   {% load static %}
   <link rel='stylesheet' href={%static "style.css" %}>
</head>

<body class="choix_table">
   <a href="{% url 'accueil'%}">Retour à l'accueil</a> 
   <h1>Liste des tables de données</h1>
   <p>Quelle table souhaitez-vous consulter ?
      <li><span><a href="{% url 'accident'%}">Table des accidents</a></span></li>
      <li><span><a href="{% url 'aeroport'%}">Table des aeroports</a></span></li>
      <li><span><a href="{% url 'avion'%}">Table des avions</a></span></li>
      <li><span><a href="{% url 'compagnie'%}">Table des compagnies</a></span></li>
      <li><span><a href="{% url 'pays'%}">Table des pays</a></span></li>
      <li><span><a href="{% url 'ville'%}">Table des villes</a></span></li>
   </p>

</body>
</html>
