/*essaie*/

		
thead, tbody ,tr {
  display:block; /*aligne sur les données d'après ? */
}

tbody  {
  height:200px; /*taille du scroll*/
  overflow:auto;
  display:block;
  
  margin-right:-1.6em;
}
<div style="overflow-x:scroll;overflow-y:scroll;border:#000000 1px solid;width=200px;"height=50px>
