<html>
<head> 
   <title>Les pays référencés</title>
       {% load static %}
    <link rel='stylesheet' href={%static "style.css" %}>
</head>

<body>
   <a href="{% url 'accueil'%}">Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}">Retour aux données</a>
   </br>
   <h1>Pays référencés</h1>
   {% if rien %}
      Aucune pays ne correspond à votre recherche !
   {% else %}
      <form method="get">
	     <table class="search">
		    <tr>
               <td>
	              <input type="search" name="pays_iso" placeholder="Pays ou ISO" class="saisie">
               </td>
			   <td>
                  <input type="checkbox" name="chercher_pays" ><label for="chercher_pays">Pays</label>
			   </td>
			   <td>
                  <input type="checkbox" name="chercher_iso" ><label for="chercher_iso">ISO</label>
			   </td>
            </tr>
         </table>
	     <p class="bouton">
            <input type="submit" value="Rechercher" class=bouton >
	     </p>
      </form>
	  <p>{{nb}} pays affichés</p>
      <table class="mon_tableau">
         
         <tr><th>Pays</th><th>Code ISO</th></tr>
		
		 
         {% for p in pays %}
            {% ifnotequal 'Unknown' p.nom_pays %}
               <tr>
                  <td>{{ p.nom_pays }} </td>
                  {% ifequal 'nan' p.iso %}
                     <td> </td>
                  {% else %}
                     <td>{{ p.iso }} </td>
                  {% endifequal %}
              </tr>
            {% endifnotequal %}
         {% endfor %}
      </table>
   {% endif %}
</body>
</html>
