<html>
<head> 
  <title>Les villes référencées</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href="{%static 'style.css' %}">
  
</head>


<body>
   <a href="{% url 'accueil'%}"><img src="{% static "logo_accueil.png" %}" alt="Logo home" width=20> Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}"><img src="{% static "logo_retour.png" %}" alt="Logo home" width=15> Retour aux données</a>
   </br>
   <h1>Villes référencées</h1>
   {% if rien %}
      Aucune ville ou pays ne correspond à votre recherche !
   {% else %}
      <form method="get">
	     <table class="search">
            <tr>
               <td>
	              <input type="search" name="pays_ville" placeholder="Pays ou ville" class="saisie">
			   </td>
               <td>
	              <input type="checkbox" name="chercher_ville" ><label for="chercher_ville">Ville</label>
			   </td>
               <td>
	              <input type="checkbox" name="chercher_pays" ><label for="chercher_pays">Pays</label>
			   </td>
			</tr>
         </table>
	     <p class="centrer">
            <input type="submit" value="Rechercher" class=bouton >
	     </p>
      </form>

      <p>{{nb}} villes affichées</p>
      
      <table class="mon_tableau">
      <tr><th>Ville</th><th>Pays</th></tr>
      {% for v in ville %}
         {% ifnotequal 'Unknown' v.nom_ville %}
           <tr>
              <td>{{ v.nom_ville }} </td>
               {% ifequal 'nan' v.nom_pays.nom_pays %}
                  <td> </td>
               {% else %}
                  <td>{{ v.nom_pays.nom_pays }} </td>
               {% endifequal %}
           </tr>
        {% endifnotequal %}
      {% endfor %}
      </table>
   {% endif %}
</body>
</html>
