<html>
<head> 
  <title>Les villes référencées</title>
  <style>
    body{font-family:Arial;
         margin : 10px 20px 10px;
         font-size:16px;}

    h1 {text-align:center;
        color:#d47217;}

    a{color:black;
      text-decoration:none;}
   
    table.mon_tableau {border-collapse: collapse;}

    table.mon_tableau td {border: 1px solid #5555;
                          padding: 9px;
                          font-family: "Sans-serif";
                          font-size: 12px;}

    table.mon_tableau tr:nth-child(even){background: #EEE}
    table.mon_tableau tr:nth-child(odd) {background: #FFF}

  </style>
</head>


<body>
   <a href="{% url 'accueil'%}">Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}">Retour aux données</a>
   </br>
   <h1>Villes référencées</h1>
   {% if rien %}
      Aucune ville ou pays ne correspond à votre recherche !
   {% else %}
      <form method="get">
	     <input type="search" name="pays_ville" placeholder="Pays ou ville" >
	     <input type="checkbox" name="chercher_ville" ><label for="chercher_ville">Ville</label>
	     <input type="checkbox" name="chercher_pays" ><label for="chercher_pays">Pays</label>
	     <input type="submit" value="Rechercher" >
      </form>

      <table class="mon_tableau">
      <p>{{nb}} villes affichées</p>
      <tr><th>Ville</th><th>Pays</th></tr>
      {% for v in ville %}
         {% ifnotequal 'Unknown' v.nom_ville %}
           <tr>
              <td>{{ v.nom_ville }} </td>
               {% ifequal 'nan' v.nom_pays.nom_pays %}
                  <td> </td>
               {% else %}
                  <td>{{ v.nom_pays.nom_pays }} </td>
               {% endifequal %}
           </tr>
        {% endifnotequal %}
      {% endfor %}
      </table>
   {% endif %}
</body>
</html>
